* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 21px;
}

.card-header {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header img {
  width: 280px;
  object-fit: cover;
  border-radius: 14px;
}

.card-body {
  margin: 0.5rem 1rem;
  max-width: 88%;
}

.card-body h1 {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.card-footer {
  margin: 0.5rem 1rem;
  max-width: 88%;
}

.card-footer p {
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

@media screen and (min-width: 1440px) {
  .card {
    width: 500px;
    height: 750px;
  }

  .card-header img {
    width: 460px;
  }

  .card-body {
    margin: 0.8rem 1.5rem;
    max-width: 82%;
  }
  
  .card-body h1 {
    font-size: 34px;
  }
  
  .card-footer {
    margin: 0.8rem 1.5rem;
    max-width: 82%;
  }
  
  .card-footer p {
    font-size: 22px;
  }

}